<div class="container text-center mt-5">
    <img src="~/images/icons/error-404.png" alt="Error 404 Image" class="img-fluid mb-4" />
    <div class="text-left h4">Go Back to <a asp-controller="Home" asp-action="Index">Home</a></div>
</div>