<div class="container text-center mt-5">
    <h1 class="display-4">500 - Internal Server Error</h1>
    <p class="lead">Sorry, something went wrong on our server. Please try again later.</p>
    <div class="text-left h4">Go Back to <a asp-controller="Home" asp-action="Index">Home</a></div>
</div>