@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Repair shop</h1>
    <h3>Make your Reservation now!</h3>
    <img src="https://t4.ftcdn.net/jpg/05/32/90/47/360_F_532904710_cl1gmPtUVGwtiYk10cQlmdQPqaFIlmuD.jpg" alt="Alternate Text" width="800" height="600" />

</div>
