@model ReservationCancelViewModel
@{
    ViewBag.Title = "Cancel Reservation";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">@Model.Description</h3>
                <p class="mb-0"><span class="fw-bold">Date: </span>@Model.Date</p>
                <p class="mb-0"><span class="fw-bold">Service type: </span>@Model.ServiceType</p>
                <p class="text-danger mt-3 text-center">"Are you sure you want to cancel your reservation?"</p>
            </div>
            <div class="card-footer">
                <form asp-action="CancelConfirmed" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger">Confirm</button>
                        <a asp-action="All" asp-controller="Car" class="btn btn-outline-primary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

